



set pager=1




##
## ## Load Module
##

insmod all_video
insmod video_bochs
insmod video_cirrus
insmod font
insmod gfxterm
insmod gfxmenu
insmod gettext
insmod jpeg
insmod png




insmod part_gpt
insmod ext2


##
## ## Set root
##

search --no-floppy --fs-uuid --set=root df327def-4e94-4b5e-b7d9-d17b8323571d




##
## ## Locale
##

loadfont ($root)/boot/grub/fonts/unicode.pf2
set locale_dir=($root)/boot/grub/locale
set lang=zh_TW




##
## Resolution
##

set gfxmode=auto
terminal_output gfxterm




##
## ## Theme
##

background_image ($root)/boot/grub/themes/grub-theme-darkmatter-remix/background.jpg
set theme=($root)/boot/grub/themes/grub-theme-darkmatter-remix/theme.txt
export theme




##
## ## Countdown
##

set timeout=5




##
## ## Color
##

set color_normal=white/black
set color_highlight=white/cyan




##
## ## Grub Menu Entry
##

menuentry "Debian 12 ISO / Xfce" --class Debian {
	set iso_file="/iso/debian-live-12.5.0-amd64-xfce.iso"
	search --set=iso_partition --no-floppy --file $iso_file
	probe --set=iso_partition_uuid --fs-uuid $iso_partition
	set img_dev="/dev/disk/by-uuid/$iso_partition_uuid"
	loopback loop ($iso_partition)$iso_file
	set boot_option=""
	#set boot_option="components splash quiet"
	#set boot_option="components locales=zh_TW.UTF-8 quiet splash"
	linux (loop)/live/vmlinuz boot=live buuid=$iso_partition_uuid findiso=$iso_file $boot_option
	initrd (loop)/live/initrd.img
}


menuentry "Fedora 40 ISO / Kde Plasma" {
	set iso_file=/iso/Fedora-KDE-Live-x86_64-40_Beta-1.10.iso
	loopback loop $iso_file
	linux (loop)/images/pxeboot/vmlinuz iso-scan/filename=$iso_file root=live:CDLABEL=Fedora-KDE-Live-40-1-14 rd.live.image rhgb $boot_option
	initrd (loop)/images/pxeboot/initrd.img
}
